:root {
  --default-font-color: #1c1c1c;
  --gray-color: #d9d9d9;
  --gray-color2: #f6f6f6;
  --white-color: #fcfcfc;
  --green-color: #a8d8b9;
}

* {
  color: var(--default-font-color);
  white-space: pre-wrap;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  position: inset;
}

.loading {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.loading p {
  font-size: 24px;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

main {
  padding-top: 64px;
}

section {
  padding: 72px 0;
}

.gray-back {
  background-color: var(--gray-color2);
}

/* ナビゲーション */
.global-nav {
  padding: 20px 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.global-nav .links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.global-nav .links a,
.footer .links a {
  font-size: 16px;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
}

.global-nav .links a:hover,
.footer .links a:hover {
  background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 1px; /* 下線の横幅を100%にする */
}

.global-nav .links > * + *,
.footer .links > * + * {
  margin-left: 24px;
}
/* ナビゲーション */

/* フッター */
.footer {
  background-color: var(--gray-color);
  text-align: center;
  padding: 32px 0;
}

.footer .copyright {
  margin-top: 16px;
  font-size: 14px;
}

/* ファーストビュー */
.first-view {
  min-height: 320px;
  padding: 0 0 80px 0;
  display: flex;
  align-items: flex-end;
}

.page-title {
  line-height: 64px;
  font-size: 56px;
  font-weight: 600;
}

.first-view.works .page-title {
  font-size: 48px;
}

/* メインコンテンツ */
.section-title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
}

.default-text {
  font-size: 16px;
  line-height: 24px;
}

.contents {
  margin-top: 56px;
}

/* プロフィール */
.profile .my-name {
  font-size: 32px;
  line-height: 48px;
}

.profile .my-name rt {
  font-size: 12px;
  line-height: 16px;
  font-weight: lighter;
}

.contents {
  position: relative;
}

.profile .contents {
  display: grid;
  grid-template-columns: 20% 75%;
  gap: 5%;
}

.profile .contents .default-text {
  margin-top: 32px;
}

.personal-info {
  margin-top: 32px;
}

.personal-info > * + * {
  margin-top: 16px;
}

.personal-info .text-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.personal-info .text-box h4 {
  border: 1px solid var(--default-font-color);
  padding: 4px 8px;
  font-weight: normal;
}

.personal-info .default-text {
  margin-top: 0 !important;
}

.personal-info ul li {
  width: fit-content;
}

.personal-info ul li a img {
  transition: all 0.3s;
}

.personal-info ul li:hover a img {
  opacity: 0.7;
}

/* Moreボタン */
.default-link {
  display: block;
  width: fit-content;
  font-size: 24px;
  padding: 4px 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid var(--gray-color2);
  transition: all 0.3s;
}

.default-link:hover {
  border: 1px solid var(--default-font-color);
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 5vw;
}

.work-list li .work-title,
.work-list li .label-box {
  margin-top: 16px;
}

.work-list li .thumbnail {
  transition: all 0.3s;
}

.work-list li a:hover .thumbnail {
  box-shadow: 5px 5px 20px -5px #bdc0ba;
}

.work-list li .work-title {
  font-size: 18px;
  line-height: 24px;
}

.work-list li .label-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.work-list li .label-box .label {
  display: block;
  width: fit-content;
  padding: 7px 10px;
  border: 1px solid var(--default-font-color);
}
