.contents {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 5vw;
}

.skill {
  display: flex;
  flex-direction: column;
}

.skill figure {
  margin: 0 auto;
}

.skill > * + * {
  margin-top: 20px;
}

.skillTitle {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.aboutSkills {
  min-height: 100px;
}

.label {
  width: fit-content;
}

.labelTitle {
  text-align: left;
  font-weight: normal;
  padding-right: 1em;
}

.history {
  background-color: var(--gray-color2);
}

.myHistory {
  overflow: hidden;
}

.myHistory > * + * {
  margin-top: 32px;
}

.myHistory li {
  display: grid;
  grid-template-columns: 1fr 1fr 90%;
  align-items: center;
}

.myHistory li .timeLine {
  position: relative;
}

.myHistory li .circle {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green-color);
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 10;
}

.myHistory li .line {
  content: "";
  display: block;
  width: 2px;
  height: 100vh;
  background-color: var(--gray-color);
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 9;
}
