.link {
  font-size: 24px;
  display: block;
  width: fit-content;
  text-decoration: underline;
  margin-top: 16px;
  transition: all 0.3s;
}

.link:hover {
  color: var(--green-color);
}

.worksImg img {
  margin: 0 auto;
  margin-bottom: 16px;
}

.textBox {
  margin-bottom: 20px;
}

.textBox:last-child {
  margin-bottom: 0;
}

.textBox > * + * {
  margin-top: 8px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
}
