.link {
  font-size: 24px;
  display: block;
  width: fit-content;
  text-decoration: underline;
  margin-top: 16px;
  transition: all 0.3s;
}

@media screen and (max-width: 425px) {
  .link {
    font-size: 16px;
    margin-top: 8px;
  }
}

.link:hover {
  color: var(--green-color);
}

.worksImg img {
  margin: 0 auto;
  margin-bottom: 16px;
}

.textBox {
  margin-bottom: 40px;
}

.textBox:last-child {
  margin-bottom: 0;
}

.imgBox ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: masonry;
  gap: 16px;
}

.imgBox ul li {
  width: fit-content;
  height: fit-content;
}

.imgBox ul li img {
  border: 1px solid var(--gray-color);
}

.textBox > * + *,
.imgBox > * + * {
  margin-top: 8px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
}

.annotation {
  text-indent: -1em;
  padding-left: 1em;
  font-size: 14px;
}
